<div class="animate__animated animate__fadeIn animate__faster">
  <div class="row">
    <div class="col"><h2>By Country</h2></div>
    <div class="col d-flex flex-row-reverse align-countrys-center">
      <i class="bi bi-globe"></i>
    </div>
  </div>
  <hr />

  <div class="row">
    <div class="col">
      <app-country-input
        (onEnter)="search($event)"
        (onDebounce)="suggestions($event)"
        placeholder="Search by Country..."
      ></app-country-input>
    </div>
  </div>

  <ul *ngIf="showSuggestions"
    class="list-group">
    <li
      *ngFor="let countries of countriesSuggestions"
      class="list-group-item list-group-item-action"
    >
      <a [routerLink]="['/country', countries.cca2]" class="nav-link">
        {{ countries.name.official }}
      </a>
    </li>

    <li class="list-group-item list-group-item-action">
      <a class="nav-link" (click)="searchSuggestions(term)" > Buscar "{{ term }}"</a>
    </li>
  </ul>

  <hr />

  <div *ngIf="hasError" class="alert alert-danger">
    <div class="d-flex">
      <div class="flex-grow-1 align-self-center">
        <i class="bi bi-exclamation-triangle p-2"></i>No results found for the
        term <b>'{{ term }}'</b>.
      </div>
      <div>
        <button
          type="button"
          class="close btn"
          aria-label="Close"
          (click)="closeWarn()"
        >
          <span aria-hidden="true"><b>&times;</b></span>
        </button>
      </div>
    </div>
  </div>

  <div *ngIf="countries.length > 0" class="row">
    <div class="col">
      <app-country-table [countries]="countries"></app-country-table>
    </div>
  </div>
</div>
