<div class="row">
  <div class="col">
    <h2>Search</h2>
  </div>
</div>
<hr />

<ul class="list-group">
  <li
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    class="list-group-item"
  >
    <i class="bi bi-globe p-2"></i>
    By Country
  </li>
  <li routerLink="region" routerLinkActive="active" class="list-group-item">
    <i class="bi bi-globe-americas p-2"></i>
    By Region
  </li>
  <li routerLink="capital" routerLinkActive="active" class="list-group-item">
    <i class="bi bi-geo-alt-fill p-2"></i>
    By Capital
  </li>
</ul>
