<div class="animate__animated animate__fadeIn animate__faster">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>Flag</th>
        <th>Name</th>
        <th>Population</th>
        <th>Details</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let country of countries; let i = index">
        <td>{{ i + 1 }}</td>
        <td>
          <img
            src="{{ country.flags.png }}"
            alt="Flag of {{ country.name.common }}"
            class="small-flag border border-dark"
            title="{{ country.name.common }}"
          />
        </td>
        <td>{{ country.capital }}, {{ country.name.common }}</td>
        <td>{{ country.population | number }}</td>
        <td>
          <a
            [routerLink]="['/country', country.cca2]"
            class="text-decoration-none"
            title="Details of {{ country.name.common }}"
            ><i class="bi bi-info-circle-fill"></i
          ></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
